#quizform {
    width: 40%;
    /* height:80px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* text-align: center; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 30%;
    margin-top: 5%;
}

#quizform input,
#quizform #select {

    width: 50%;
    height: 30px;
}

#quizform #addnew {
    width: 30%;
    height: 30px;
    /* align-items: center; */
}
#cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    */
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}